@use "config" as *;
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "overview work play study"
        "overview exercise social selfcare";
    grid-gap: 25px;
    width: 75vw;
    height: 60vh;
}

.card {
    background-color: $color-card;
    border-radius: 10px;
    overflow: hidden;

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

.overview {
    grid-area: overview;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__header {
        background-color: $color-overview;
        border-radius: inherit;
        flex-basis: 65%;
        padding: 10%;

        img {
            width: 35%;
            border: 3px solid white;
            border-radius: 50%;
            margin-bottom: 10%;
        }

        p {
            padding: 5% 5% 0 0%;
        }

        h2 {
            color: white;
            padding: 0% 5% 5% 0%;
        }
    }

    &__main {
        align-self: flex-start;
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10%;
    }
}

label {
    font-size: $card-title;
    margin-left: -17px;
    cursor: pointer;
}

input {
    opacity: 0;
}

input:checked+label {
    color: white;
}
.work {
    grid-area: work;
    background-color: $color-work;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";
}

.play {
    grid-area: play;
    background-color: $color-play;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

.study {
    grid-area: study;
    background-color: $color-study;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

.exercise {
    grid-area: exercise;
    background-color: $color-exercise;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

.social {
    grid-area: social;
    background-color: $color-social;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

.selfcare {
    grid-area: selfcare;
    background-color: $color-selfcare;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "icon"
        "main";

    &__header {
        grid-area: icon;
        justify-self: end;
        align-self: center;
    }

    &__main {
        grid-area: main;
        background-color: $color-card;
        border-radius: inherit;
        z-index: 2;
        padding-left: 10%;
    }
}

footer {
    position: absolute;
    bottom: 10px;

    a {
        color: $color-font;
    }
}